*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding:  0 20px;
}
nav ul i{
  color:white;
  font-size: 30px;
  cursor: pointer;
}

.logo{
  display: none;
  z-index: 11;
  transition: all 250ms linear;
width: 150px;
height: 150px;
position: absolute;
top:0;
left:0;
}

.carousel .carousel-inner .item {
height: 100vh;

}

/* .carousel .carousel-inner .item img {
width: 100%;
height: 100%;
} */
.item{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide1{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('landing.jpg');
}
.slide2{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('interior.jpg');
}
.slide3{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('bg.png');
  background-color: #ffeba7
}
.slide2 .slide-desc p{
  font-size: 15px;
}
.slide-desc{
  display: flex;
  flex-direction: column;
justify-content: center;
  align-items: center;
width: 100%;
height: 100%;
  color:white;
  margin: auto;
    text-align: center;

}
.slide-desc > *{
  margin: 10px;
}
.slide-desc h1{
  font-family: 'Gloria Hallelujah';
  font-size: 45px;
  animation: 2s anim-lineUp ease-out;
}
.slide-desc h3{
  font-family: 'Montserrat' sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  padding: 0 50px;

}
.slide-desc p{
  font-family: 'Montserrat' sans-serif;
  font-weight: 200;
    font-size: 20px;
    padding: 50px;
    color:white;


}
.arrow{
  position: absolute;
  bottom: 100px;
font-size: 60px;
animation: arrowFade 2s ease-in-out;
animation-iteration-count: infinite;
}

@keyframes arrowFade {
  0% { opacity: 1;transform: translateY(0px) }
  50% {transform: translateY(20px) }
  90% {opacity: 0;transform: translateY(20px) }
  100% { opacity: 0;}
}

.vertical.carousel .carousel-control {
     bottom: auto;
     width: 100%;
     height: 15%;
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
     background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0, rgba(0,0,0,0) 100%);
     background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0) 100%);
 }
 .vertical.carousel .carousel-control.right {
   top: auto;
   bottom: 0;
   background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
   background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
   background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
 }
 .vertical.carousel .carousel-control .glyphicon {
   -webkit-transform: rotate(90deg);
           transform: rotate(90deg);
 }
 .vertical.carousel .carousel-indicators {
   bottom: auto;
   top: 50%;
   left: auto;
   right: 10px;
   width: 14px;
   margin: 0;
   -webkit-transform: translateY(-50%);
           transform: translateY(-50%);
 }
 .vertical.carousel .carousel-inner > .item {
   left: 0;
   top: 0;
 }
 .vertical.carousel .carousel-inner > .item > img {
   width: 100%;
 }
 .vertical.carousel .carousel-inner > .item.next,
 .vertical.carousel .carousel-inner > .item.active.right {
   -webkit-transform: translate3d(0, 100%, 0);
           transform: translate3d(0, 100%, 0);
   top: 0;
 }
 .vertical.carousel .carousel-inner > .item.prev,
 .vertical.carousel .carousel-inner > .item.active.left {
   -webkit-transform: translate3d(0, -100%, 0);
           transform: translate3d(0, -100%, 0);
   top: 0;
 }
 .vertical.carousel .carousel-inner > .item.next.left,
 .vertical.carousel .carousel-inner > .item.prev.right,
 .vertical.carousel .carousel-inner > .item.active {
   -webkit-transform: translate3d(0, 0, 0);
           transform: translate3d(0, 0, 0);
   top: 0;
 }
 .vertical.carousel .carousel-inner > .active,
 .vertical.carousel .carousel-inner > .next.left,
 .vertical.carousel .carousel-inner .prev.right {
   top: 0;
 }
 .vertical.carousel .carousel-inner > .next,
 .vertical.carousel .carousel-inner > .active.right {
   top: 100%;
   left: 0;
 }
 .vertical.carousel .carousel-inner > .prev,
 .vertical.carousel .carousel-inner > .active.left {
   top: -100%;
   left: 0;
 }

 @keyframes anim-lineUp {
   0% {
     opacity: 0;
     transform: translateY(80%);
   }
   20% {
     opacity: 0;
   }
   50% {
     opacity: 1;
     transform: translateY(0%);
   }
   100% {
     opacity: 1;
     transform: translateY(0%);
   }
 }
