:root {
 --doc-height: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding:  0 20px;
}
nav ul i{
  color:white;
  font-size: 30px;
  cursor: pointer;
}
body{
overflow: hidden;
}
.logo{
  z-index: 11;
transition: all 250ms linear;
position: fixed;
width: 150px;
top:2%;
left:2%;
}

.carousel .carousel-inner .item {
 height: var(--doc-height);
width: 100%;
}
/* .carousel .carousel-inner .item img {
width: 100%;
height: 100%;
} */
.item{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide1{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./images/landing.jpg');
}
.slide2{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./images/interior.jpg');
}
.slide3{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./images/bg.png');
  background-color: #ffeba7
}
.slide2 .slide-desc p{
  font-size: 15px;
}
.slide-desc{
  display: flex;
  flex-direction: column;
justify-content: center;
  align-items: center;
width: 100%;
 height: var(--doc-height);
  color:white;
  margin: auto;
    text-align: center;

}
.slide-desc > *{
  margin: 10px;
}
.slide-desc h2{
  font-family: 'Gloria Hallelujah';
  font-size: 50px;
  color:#ffeba7;
  animation: 2s anim-lineUp ease-out;
  -webkit-animation: 2s anim-lineUp ease-out;

}
.slide-desc h3{
  font-family: 'Montserrat' sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  padding: 0 50px;
  animation: 2s anim-lineUp ease-out;
  -webkit-animation: 2s anim-lineUp ease-out;

}
.slide-desc p{
  font-family: 'Montserrat' sans-serif;
  font-weight: 200;
    font-size: 20px;
    padding: 50px;
    color:white;
    animation: 2s anim-lineUp ease-out;
    -webkit-animation: 2s anim-lineUp ease-out;


}
.arrow{
  position: absolute;
  bottom: 100px;
font-size: 60px;
animation: arrowFade 2s ease-in-out;
animation-iteration-count: infinite;
-webkit-animation: arrowFade 2s ease-in-out;
-webkit-animation-iteration-count: infinite;
}

@keyframes arrowFade {
  0% { opacity: 1;transform: translateY(0px) }
  50% {transform: translateY(20px) }
  90% {opacity: 0;transform: translateY(20px) }
  100% { opacity: 0;}
}

.carousel-control{
   height: var(--doc-height);
  width: 15%;
font-size: 20px;
color: #fff;
text-align: center;
text-shadow: 0 1px 2px rgba(0,0,0,.6);
background-color: rgba(0,0,0,0);
opacity: .5;
}

.vertical.carousel .carousel-control {
     bottom: auto;
     width: 100%;
     height: 15%;
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
     background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0, rgba(0,0,0,0) 100%);
     background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0) 100%);
 }
 .vertical.carousel .carousel-control.right {
   top: auto;
   bottom: 0;
   background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
   background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
   background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
 }
 .vertical.carousel .carousel-control .glyphicon {
   -webkit-transform: rotate(90deg);
           transform: rotate(90deg);
 }

.carousel-indicators{
    transition: all 250ms ease-in-out;
}
.carousel-indicators li{
  background-color: #d1d1d1;
  transition: all 250ms ease-in-out;
  opacity: 0.5;
}
 .carousel-indicators .active{
   width: 14px;
   height: 14px;
     opacity: 1;
 }
 .vertical.carousel .carousel-indicators {
   bottom: auto;
   top: 50%;
   left: auto;
   right: 10px;
   width: 14px;
   margin: 0;
   -webkit-transform: translateY(-50%);
           transform: translateY(-50%);
 }
 .vertical.carousel .carousel-inner > .item {
   left: 0;
   top: 0;
 }
 .vertical.carousel .carousel-inner > .item > img {
   width: 100%;
 }
 .vertical.carousel .carousel-inner > .item.next,
 .vertical.carousel .carousel-inner > .item.active.right {
   -webkit-transform: translate3d(0, 100%, 0);
           transform: translate3d(0, 100%, 0);
   top: 0;
 }
 .vertical.carousel .carousel-inner > .item.prev,
 .vertical.carousel .carousel-inner > .item.active.left {
   -webkit-transform: translate3d(0, -100%, 0);
           transform: translate3d(0, -100%, 0);
   top: 0;
 }
 .vertical.carousel .carousel-inner > .item.next.left,
 .vertical.carousel .carousel-inner > .item.prev.right,
 .vertical.carousel .carousel-inner > .item.active {
   -webkit-transform: translate3d(0, 0, 0);
           transform: translate3d(0, 0, 0);
   top: 0;
 }
 .vertical.carousel .carousel-inner > .active,
 .vertical.carousel .carousel-inner > .next.left,
 .vertical.carousel .carousel-inner .prev.right {
   top: 0;
 }
 .vertical.carousel .carousel-inner > .next,
 .vertical.carousel .carousel-inner > .active.right {
   top: 100%;
   left: 0;
 }
 .vertical.carousel .carousel-inner > .prev,
 .vertical.carousel .carousel-inner > .active.left {
   top: -100%;
   left: 0;
 }

 @keyframes anim-lineUp {
   0% {
     opacity: 0;
     transform: translateY(80%);
      -webkit-transform: translateY(80%);
   }
   20% {
     opacity: 0;
   }
   50% {
     opacity: 1;
     transform: translateY(0%);
      -webkit-transform: translateY(0%);
   }
   100% {
     opacity: 1;
     transform: translateY(0%);
     -webkit-transform: translateY(0%);
   }
 }
 @keyframes scale-anim {
   0%{
     transform: scale(0);
   }
   100%{
     transform: scale(1);
   }
 }
 @keyframes left-anim {
   0%{
     transform: translateX(-200%);
   }
   90%{
    transform: translateX(50%);
   }
   100%{
     transform: translateX(0);
   }
 }
 @keyframes right-anim {
   0%{
     transform: translateX(200%);
   }
   90%{
    transform: translateX(-50%);
   }
   100%{
     transform: translateX(0);
   }
 }
.container{

  position: relative;
  margin: 0;
  padding: 0;
  display: none;
  transition: all 1s ease-in-out;
  width: 100%;
 height: var(--doc-height);
}
 .splashScreen{
   position: absolute;
   z-index: 100;
    width: 100%;
    height: 100%; height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
 /* background: -webkit-linear-gradient(right, white 50%, black 50%);
 background: -o-linear-gradient(right, white 50%, black 50%); */
  transition:all 0.5s ease-in-out;
 display: flex;
  }
  .logo-mix{
    position: absolute;
    width: 100%;
    height: 100%; height: -webkit-fill-available;;
    display: flex;
    align-items: center;
    justify-content: center;
    top:0;
    left:0;
    margin: auto;
  }

  .toggle{
    -webkit-filter: invert(1);
    -ms-filter: invert(1);
    -o-filter: invert(1);
    filter: invert(1);
  }


@media (min-width:320px) {
  .logo-img{
    transform: scale(0.8);
  }
}

.menu{
  display: flex;
  justify-content: center;
  align-items: center;


}

.menu-left{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
  padding: 0 20px;
flex:1;
  line-height: 2;
      width: 100%;
}
.menu-left h2{
      font-family: 'Gloria Hallelujah';
  margin: 0;
  font-size: 40px;
  color: #B0752E;
  margin-bottom: 10px;
  animation: 2s anim-lineUp ease-out;
  -webkit-animation: 2s anim-lineUp ease-out;
}
.menu-left p{
  background-color: white;
  font-size: 18px;
  font-weight: 300;
  padding: 10px;
      z-index: 1;
      border-radius: 20px;
      animation: 2s anim-lineUp ease-out;
      -webkit-animation: 2s anim-lineUp ease-out;
}
.menu-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    padding: 0 20px;
    flex:1;
    width: 100%;
}

.imgContainer{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: url('./item.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 500px;
  height: 500px; */
}
.imgContainer img{
  object-fit: contain;
  width: 350px;
  height: auto;
  animation: 2s scale-anim ease-in-out forwards;
}
.imgContainer i{
  transition: 250ms ease-in-out;
    color: #B0752E;
   font-size: 50px;
   cursor: pointer;
}
.imgContainer i:hover, .imgContainer i:active{
  color:#ffeba7;
     transform: translateX(10%);
}
.imgContainer .leftArrow{
animation: 2s left-anim ease-in-out forwards;
}
.imgContainer .rightArrow{
animation: 2s right-anim ease-in-out forwards;
}
.menuContainer{
  background-image: url('./images/walls.png');
  background-size: contain;
  background-position: left;
background-repeat: repeat-y;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  width: 100%;
  height:100%;
  padding: 50px;
}
.splash-img{
  position: absolute;
   bottom:0;
  width: 100%;
  object-fit: contain;
}
.logo-black{
  position: absolute;
  top:0;
 width: 150px;
 left:10px;
}

.options ul{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: white;
}
.options ul li{
  font-family: 'Gloria Hallelujah';
  list-style: none;
  font-size: 20px;
  margin: 0 10px;
  cursor: pointer;
    -webkit-animation: 2s anim-lineUp ease-out;
  transition: 250ms ease-in-out;
}
.options ul li:hover, .options ul li:active{
  color:#ffeba7;
  font-weight: bold;
     transform: translateY(-10px);
     text-decoration: underline;
}
.slide5{
  background-color: black;
  color:white;
  width: 100%;
  height: 100%;
}
.slide5 >*{
    margin: 0;
}
@media (max-width:800px){
  .menu{
    flex-direction: column;
  }
  .imgContainer img{
    width: 200px;
  }
  .menu-left h2{
    font-size: 30px;

  }
  .menu-left p{
    font-size: 15px;
    width: 100%;

  }
  .imgContainer i{
    font-size: 30px'
  }
  .options ul li{
    font-size: 18px;
  }
  .menuContainer{
    padding: 10px;
    justify-content: flex-end;
  }
}
@media (min-width:414px) {
  .menuContainer{
    justify-content: center;
  }
}
@media (max-width:375px) {
.imgContainer img{
  width: 150px;
}
}
@media (max-width:320px) {
.imgContainer img{
  width: 100px;
}
.menu-left h2{
  font-size: 20px
}
.menu-left p{
  font-size: 12px;
}
.options ul li{
  font-size: 12px;
}

}
